<div class="tileset-alert-wrapper">
    <div class="upload-files-with-alert">
        {{{renderedFileItems}}}
    </div>
    <div class="tileset-alert-icon-container">
        <img src="/assets/admin/alert.png" class="tileset-alert-icon" alt="Info" title="Images specified in the tileset can't be removed since the option overrideSceneImagesWithMapFile is active.">
        <span class="tileset-info-message hidden">Images specified in the tileset can't be removed since the option overrideSceneImagesWithMapFile is active.</span>
    </div>
</div>
