<div class="entity-edit {{&entityName}}-edit">
    <h2>{{&templateTitle}}</h2>
    <div class="actions">
        <button class="button button-primary button-submit" type="submit" form="edit-form" name="saveAction" value="save">Save</button>
        <button class="button button-primary button-submit" type="submit" form="edit-form" name="saveAction" value="saveAndContinue">Save and continue...</button>
        <button class="button button-primary button-submit" type="submit" form="edit-form" name="saveAction" value="saveAndGoBack">Save and go back</button>
        <a class="button button-secondary button-back" href="{{&entityViewRoute}}">Cancel</a>
    </div>
    <form name="edit-form" id="edit-form" action="{{&entitySaveRoute}}" method="post"{{&multipartFormData}}>
        <input type="hidden" name="{{&idProperty}}" value="{{&idValue}}"/>
        <div class="edit-field">
            <span class="field-name">{{&idPropertyLabel}}</span>
            <span class="field-value">
                <input type="text" name="disabled-{{&idProperty}}" value="{{&idValue}}" disabled="disabled"/>
            </span>
        </div>
        {{#editFields}}
        <div class="edit-field">
            <span class="field-name">{{&name}}</span>
            <span class="field-value">{{&value}}</span>
        </div>
        {{/editFields}}
        {{&extraFormContent}}
        <div class="actions">
            <button class="button button-primary button-submit" type="submit" name="saveAction" value="save">Save</button>
            <button class="button button-primary button-submit" type="submit" name="saveAction" value="saveAndContinue">Save and continue...</button>
            <button class="button button-primary button-submit" type="submit" name="saveAction" value="saveAndGoBack">Save and go back</button>
            <a class="button button-secondary button-back" href="{{&entityViewRoute}}">Cancel</a>
        </div>
    </form>
    <div class="extra-actions">
        {{&extraContent}}
    </div>
</div>
