<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{&brandingCompanyName}}</title>
    <meta name="language" content="en"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes, viewport-fit=cover"/>
    <!-- favicons -->
    <meta name="msapplication-config" content="/browserconfig.xml"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png"/>
    <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#000000"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <!-- CSS and JS -->
    <link crossorigin rel="preconnect" href="https://fonts.googleapis.com"/>
    <link crossorigin rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Play:300,300i,400,400i,500,500i,600,600i,700,700i"/>
    <link rel="stylesheet" href="{{stylesFilePath}}"/>
    <script type="text/javascript" src="/js/functions.js"></script>
    <script type="text/javascript" src="/js/reldens-functions.js"></script>
    <script type="module" src="{{scriptsFilePath}}"></script>
</head>
<body class="reldens-admin-panel">
<div class="wrapper">
    <div class="header">
        <h1 class="title">
            <a href="{{rootPath}}">{{&brandingCompanyName}}</a>
        </h1>
    </div>
    <div class="content">
        <div class="notification">
            <span class="close">&times;</span>
            <span class="message"></span>
        </div>
        {{&sideBar}}
        <div class="main-content">
            {{&pageContent}}
        </div>
    </div>
    <div class="footer">
        {{&copyRight}}
    </div>
</div>
<div class="modal confirm-dialog hidden">
    <div class="modal-backdrop"></div>
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-header">
            <h4 class="dialog-title">Confirm</h4>
            <button type="button" class="button button-close button-circle button-dark">×</button>
        </div>
        <div class="modal-body">
            <p class="dialog-message">Are you sure?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="button button-secondary dialog-cancel">Cancel</button>
            <button type="button" class="button button-danger dialog-confirm">Confirm</button>
        </div>
    </div>
</div>
</body>
</html>
