<h2>Maps Wizard</h2>
<div class="sub-content maps-wizard">
    <div class="sub-content-box">
        <form class="sub-content-form maps-wizard-form confirmation-required"
            name="maps-wizard-form"
            id="maps-wizard-form"
            action="{{&actionPath}}"
            method="post"
            enctype="multipart/form-data">
            <input type="hidden" name="mainAction" id="mainAction" value="import"/>
            <input type="hidden" name="generatedMapsHandler" id="generatedMapsHandler" value="{{&generatedMapsHandler}}"/>
            <input type="hidden" name="importAssociationsForChangePoints" id="importAssociationsForChangePoints" value="{{&importAssociationsForChangePoints}}">
            <input type="hidden" name="importAssociationsRecursively" id="importAssociationsRecursively" value="{{&importAssociationsRecursively}}">
            <input type="hidden" name="automaticallyExtrudeMaps" id="automaticallyExtrudeMaps" value="{{&automaticallyExtrudeMaps}}">
            <input type="hidden" name="verifyTilesetImage" id="verifyTilesetImage" value="{{&verifyTilesetImage}}">
            <div class="main-action-container maps-selection">
                <h3>Select the maps to be imported</h3>
                <p>Notes:<p>
                <p>
                    - The Game Server requires a reboot in order to make the maps available on the game.<br/>
                    - If you refresh the page you will get a new set of random maps generated.<br/>
                    - Generated sub-maps will be automatically imported, if you don't want to import those you can download all the related maps (the main map and the sub-map) and edit change them to your needs.<br/>
                </p>
                <ul class="wizard-options-container">
                {{#maps}}
                    <li class="wizard-map-option-container">
                        <div class="selector-box">
                            <input class="map-wizard-option" type="checkbox" name="selectedMaps[]" id="maps-wizard-map-option-{{&key}}" value="{{&key}}"/>
                            <input type="hidden" name="map-title-{{&key}}" id="map-title-{{&key}}" value="{{&key}}"/>
                            <label class="main-option" for="maps-wizard-map-option-{{&key}}">
                                {{&key}}
                            </label>
                            <p>Downloads:</p>
                            <p>
                                - <a href="{{&mapJson}}" target="_blank">{{&mapJson}}</a><br/>
                                - <a href="{{&mapImage}}" target="_blank">{{&mapImage}}</a>
                            </p>
                        </div>
                        <canvas
                            class="mapCanvas"
                            data-toggle="modal"
                            width="{{&mapWidth}}"
                            height="{{&mapHeight}}"
                            data-tile-width="{{&tileWidth}}"
                            data-tile-height="{{&tileHeight}}"
                            data-image-key="{{&mapImage}}"
                            data-map-json="{{&mapJson}}">
                        </canvas>
                        {{#hasSubMaps}}
                            <div class="sub-maps">
                                <p class="sub-map-option-description clickable" data-expand-collapse=".sub-maps-container-{{&key}}">
                                    <img class="icon-sm" src="/assets/admin/filters.png" alt="Associated maps"/>
                                    <span>Associated maps generated</span>
                                </p>
                                <div class="sub-maps-container sub-maps-container-{{&key}} hidden">
                                    {{#subMaps}}
                                        <p>{{&key}}</p>
                                        <p>Downloads:</p>
                                        <p>
                                            - <a href="{{&mapJson}}" target="_blank">{{&mapJson}}</a><br/>
                                            - <a href="{{&mapImage}}" target="_blank">{{&mapImage}}</a>
                                        </p>
                                        <canvas
                                            class="mapCanvas"
                                            data-toggle="modal"
                                            width="{{&mapWidth}}"
                                            height="{{&mapHeight}}"
                                            data-tile-width="{{&tileWidth}}"
                                            data-tile-height="{{&tileHeight}}"
                                            data-image-key="{{&mapImage}}"
                                            data-map-json="{{&mapJson}}">
                                        </canvas>
                                    {{/subMaps}}
                                </div>
                            </div>
                        {{/hasSubMaps}}
                    </li>
                {{/maps}}
                </ul>
            </div>
            <input type="submit" class="button button-primary button-maps-wizard" value="Import Selected Maps"/>
        </form>
    </div>
</div>
