<h2>Maps Wizard</h2>
<div class="sub-content maps-wizard">
    <div class="sub-content-box">
        <form class="sub-content-form maps-wizard-form confirmation-required"
            name="maps-wizard-form"
            id="maps-wizard-form"
            action="{{&actionPath}}"
            method="post"
            enctype="multipart/form-data">
            <div>
                <p>What would you like to do?</p>
                <ul>
                    <li>
                        <input type="radio" name="maps-wizard-action" id="maps-wizard-action-1" value="elements-object-loader" checked="checked"/>
                        <label class="main-option" for="maps-wizard-action-1">
                            Generate a random maps with Layer Elements Object Loader
                        </label>
                        <div class="maps-wizard-action-1-data">
                            <div class="input-box">
                                <label for="tileSheetPath">Tile Sheet (tileSheetPath)</label>
                                <input type="file" name="tileSheetPath" id="tileSheetPath"/>
                            </div>
                            <div class="input-box">
                                <label for="layerElementsFiles">Layer Elements (layerElementsFiles)</label>
                                <input type="file" name="layerElementsFiles" id="layerElementsFiles" multiple="multiple"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="maps-wizard-action" id="maps-wizard-action-2" value="elements-composite-loader"/>
                        <label class="main-option" for="maps-wizard-action-2">
                            Generate a random maps with Layer Elements Composite Loader
                        </label>
                        <div class="maps-wizard-action-2-data">
                            <div class="input-box">
                                <label for="compositeElementsFile">Composite Elements (compositeElementsFile)</label>
                                <input type="file" name="compositeElementsFile" id="compositeElementsFile"/>
                            </div>
                            <div class="input-box">
                                <label for="mapDataFile">Map Data (mapDataFile)</label>
                                <input type="file" name="mapDataFile" id="mapDataFile"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="maps-wizard-action" id="maps-wizard-action-3" value="3"/>
                        <label class="main-option" for="maps-wizard-action-3">
                            Generate a random maps with Multiple
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="maps-wizard-action" id="maps-wizard-action-4" value="4"/>
                        <label class="main-option" for="maps-wizard-action-4">
                            Generate a random maps with Layer Elements Composite Loader
                        </label>
                    </li>
                    <!-- sample commands:
                    $ npx reldens-generate maps ./generate-data/map-data.json LayerElementsObjectLoader

                    $ npx reldens-generate maps ./generate-data/map-composite-data.json LayerElementsCompositeLoader

                    $ npx reldens-generate maps ./generate-data/map-composite-data-with-names.json MultipleByLoaderGenerator

                    $ RELDENS_LOG_LEVEL=9 npx reldens-generate maps ./generate-data/map-composite-data-with-associations.json MultipleWithAssociationsByLoaderGenerator
                    -->
                </ul>
                <label for="additional-map-data">Additional map data:</label>
                <textarea name="additional-map-data" id="additional-map-data" cols="30" rows="10" placeholder="JSON data for map process"></textarea>
            </div>
        </form>
    </div>
</div>
