<script src="/js/element-name-suffix.js"></script>
<script src="/js/maps-elements-editor/editor-json-fetcher.js"></script>
<script src="/js/maps-elements-editor/element-mover.js"></script>
<script src="/js/maps-elements-editor/element-duplicator.js"></script>
<script src="/js/maps-elements-editor/element-deleter.js"></script>
<script src="/js/maps-elements-editor/map-resizer-borders.js"></script>
<script src="/js/maps-elements-editor/map-resizer.js"></script>
<script src="/js/maps-elements-editor/editor-context-menu.js"></script>
<script src="/js/maps-elements-editor/editor-backups-panel.js"></script>
<script src="/js/maps-elements-editor/element-z-order-sorter.js"></script>
<script src="/js/maps-elements-editor/map-layers-normalizer.js"></script>
<script src="/js/maps-elements-editor/map-elements-canvas-painter.js"></script>
<script src="/js/maps-elements-editor/editor-ui.js"></script>
<script src="/js/maps-elements-editor/editor-reset-controller.js"></script>
<script src="/js/maps-elements-editor/maps-elements-editor.js"></script>
