# Enable change the environment to enable the builder production mode.
# NODE_ENV=production
RELDENS_DEFAULT_ENCODING=utf8
# App port and host can be change accordly to your environment. For example, if you have several games on different
# node processes.
RELDENS_APP_HOST={{&app-host}}
RELDENS_APP_PORT={{&app-port}}
RELDENS_PUBLIC_URL={{&app-public-url}}
# Uncomment to use Express HTTPS server:
RELDENS_EXPRESS_USE_HTTPS={{&app-use-https}}
RELDENS_EXPRESS_HTTPS_PRIVATE_KEY="{{&app-https-key-pem}}"
RELDENS_EXPRESS_HTTPS_CERT="{{&app-https-cert-pem}}"
RELDENS_EXPRESS_HTTPS_CHAIN="{{&app-https-chain-pem}}"
RELDENS_EXPRESS_HTTPS_PASSPHRASE="{{&app-https-passphrase}}"
# RELDENS_USE_EXPRESS_JSON
# RELDENS_EXPRESS_JSON_LIMIT
# RELDENS_EXPRESS_URLENCODED_LIMIT
# RELDENS_GLOBAL_RATE_LIMIT
# RELDENS_TOO_MANY_REQUESTS_MESSAGE
# RELDENS_USE_URLENCODED
# RELDENS_USE_HELMET
# RELDENS_USE_XSS_PROTECTION
# RELDENS_USE_CORS
# RELDENS_CORS_ORIGIN
# RELDENS_CORS_METHODS
# RELDENS_CORS_HEADERS
# Admin:
RELDENS_ADMIN_ROUTE_PATH={{&app-admin-path}}
RELDENS_ADMIN_SECRET="{{&app-admin-secret}}"
RELDENS_HOT_PLUG={{&app-admin-hot-plug}}
# Colyseus Monitor:
RELDENS_MONITOR={{&app-monitor-enable}}
RELDENS_MONITOR_AUTH={{&app-secure-monitor}}
RELDENS_MONITOR_USER="{{&app-monitor-user}}"
RELDENS_MONITOR_PASS="{{&app-monitor-password}}"
# Storage Driver: (objection-js, mikro-orm, prisma)
RELDENS_STORAGE_DRIVER={{&db-storage-driver}}
# Database configuration: (mysql or mysql2 / 3306, mongodb / 27017)
RELDENS_DB_CLIENT={{&db-client}}
RELDENS_DB_HOST={{&db-host}}
RELDENS_DB_PORT={{&db-port}}
RELDENS_DB_NAME="{{&db-name}}"
RELDENS_DB_USER="{{&db-username}}"
RELDENS_DB_PASSWORD="{{&db-password}}"
RELDENS_DB_POOL_MIN=2
RELDENS_DB_POOL_MAX=10
RELDENS_DB_LIMIT=0
# Database URL will be automatically generated by the DataServerConfig if not specified.
RELDENS_DB_URL="{{&db-url}}"
# If you don't want to specify the URL you can pass options to be append to the automatically generated string.
# RELDENS_DB_URL_OPTIONS=authSource=reldens&readPreference=primary&appname=MongoDB%20Compass&ssl=false
# Logs:
RELDENS_LOG_LEVEL=7
RELDENS_ENABLE_TRACE_FOR=emergency,alert,critical
# Mailer:
RELDENS_MAILER_ENABLE={{&mailer-enable}}
RELDENS_MAILER_SERVICE={{&mailer-service}}
RELDENS_MAILER_HOST={{&mailer-host}}
RELDENS_MAILER_PORT={{&mailer-port}}
RELDENS_MAILER_USER="{{&mailer-username}}"
RELDENS_MAILER_PASS="{{&mailer-password}}"
RELDENS_MAILER_FROM={{&mailer-from}}
RELDENS_MAILER_FORGOT_PASSWORD_LIMIT=4
# Bundler config:
RELDENS_ALLOW_RUN_BUNDLER=1
RELDENS_FORCE_RESET_DIST_ON_BUNDLE=0
RELDENS_FORCE_COPY_ASSETS_ON_BUNDLE=0
# Use Express to serve dynamic home-page.
RELDENS_EXPRESS_SERVE_HOME=1
RELDENS_EXPRESS_TRUSTED_PROXY="{{&app-trusted-proxy}}"
RELDENS_EXPRESS_RATE_LIMIT_MS=60000
RELDENS_EXPRESS_RATE_LIMIT_MAX_REQUESTS=30
RELDENS_EXPRESS_RATE_LIMIT_APPLY_KEY_GENERATOR={{&app-limit-key-generator}}
# Use Express to serve static files already bundled.
RELDENS_EXPRESS_SERVE_STATICS=1
# Game Server:
RELDENS_PING_INTERVAL=5000
RELDENS_PING_MAX_RETRIES=3
# Firebase:
RELDENS_FIREBASE_ENABLE={{&firebase-enable}}
RELDENS_FIREBASE_API_KEY="{{&firebase-api-key}}"
RELDENS_FIREBASE_APP_ID="{{&firebase-api-id}}"
RELDENS_FIREBASE_AUTH_DOMAIN="{{&firebase-auth-domain}}"
RELDENS_FIREBASE_DATABASE_URL="{{&firebase-database-url}}"
RELDENS_FIREBASE_PROJECT_ID="{{&firebase-project-id}}"
RELDENS_FIREBASE_STORAGE_BUCKET="{{&firebase-storage-bucket}}"
RELDENS_FIREBASE_MESSAGING_SENDER_ID="{{&firebase-sender-id}}"
RELDENS_FIREBASE_MEASUREMENTID="{{&firebase-measurement-id}}"
