RELDENS_APP_PORT=8080
RELDENS_COLYSEUS_MONITOR=false
RELDENS_DB_ENGINE=mysql
RELDENS_DB_HOST=10.0.2.2
RELDENS_DB_PORT=3306
RELDENS_DB_NAME=reldens
RELDENS_DB_USER=reldens
RELDENS_DB_PASSWORD=reldens
RELDENS_DB_LIMIT=10
RELDENS_INITIAL_SCENE_NAME=ReldensTown
RELDENS_INITIAL_SCENE_X=400
RELDENS_INITIAL_SCENE_Y=345
RELDENS_INITIAL_SCENE_DIR=down
RELDENS_PHASER_TYPE=0
RELDENS_PHASER_PARENT=reldens
RELDENS_PHASER_DOM=true
RELDENS_PHASER_PHYSICS_DEFAULT=arcade
RELDENS_PHASER_PHYSICS_X=0
RELDENS_PHASER_PHYSICS_Y=0
RELDENS_PHASER_PHYSICS_DEBUG=false
RELDENS_PHASER_SCALE_PARENT=reldens
RELDENS_PHASER_SCALE_MODE=3
RELDENS_PHASER_SCALE_WIDTH=500
RELDENS_PHASER_SCALE_HEIGHT=500
RELDENS_PHASER_SCALE_MIN_WIDTH=300
RELDENS_PHASER_SCALE_MIN_HEIGHT=500
RELDENS_PHASER_SCALE_AUTOCENTER=1
