/**
 *
 * Reldens - Styles - Base
 *
 */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $normalFont;
    background-color: transparent;
    user-select: none;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
        overflow: auto;
        z-index: 10000;
        background-size: cover;
        background-color: $cWhite;
        background-image: url(../assets/web/reldens-background.png);
        background-position: center;
        background-repeat: no-repeat;

        .header,
        .footer,
        .content {
            width: 100%;
        }

        .header,
        .footer {
            color: $cWhite;
        }

        .header {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            background-color: $cBlack;
            height: 14%;
            max-height: 100px;
        }

        .content {
            height: 80%;
        }

        .footer {
            display: flex;
            height: 6%;
            background-color: $cDarkBlue;
            padding: min(10px, 1%) 0;
        }

    }

}

.text-black {
    color: $cBlack;
}

.hidden {
    display: none;
}

.game-container {
    height: 100%;
}

body.game-engine-started {
    overflow: hidden;

    .wrapper {
        height: 100%;
        justify-content: start;

        .content {
            height: 94%;

            .game-container {
                display: flex;
            }
        }

        .footer {
            display: none;
        }
    }

    &.full-screen-on {
        .wrapper {
            .header {
                display: none;
            }

            .content {
                height: 100%;
            }
        }
    }
}

.game-started {
    .loading-container {
        display: none;
    }

    .header .full-screen-btn {
        display: block;
    }
}

.game-error {
    .wrapper {
        .loading-container {
            display: none;
        }
    }
}

.header {
    #your-logo {
        margin-left: 2%;
    }

    h1 {
        position: relative;
        display: block;
        margin: 0 0 0 2%;
        padding: 0;
        font-family: $reldensFont;
        font-size: 1.5em;

        strong {
            color: $cReldens;
            font-weight: bold;
        }

    }

    @media (max-height: 390px) {

        h1 {
            font-size: 1em;
            padding-top: 0.2em;
        }

    }

    .full-screen-btn {
        display: none;
        position: absolute;
        right: 0;
        background: transparent;
        border: none;
        color: #fff;
        padding: 4px;
        font-size: 11px;
    }

}

.footer {
    .copyright {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;

        a, a:hover, a:visited {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 0;
        }

    }

}

.content {
    min-height: 300px;

    .forms-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

}

button,
input[type="button"],
input[type="submit"] {
    cursor: pointer;
}

.game-container {
    background-color: $cBlack;
}

.row {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #ccc;
    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.6);

    &.row-disclaimer {
        max-width: 98%;
    }

    &.hidden {
        display: none;
    }
}

.disclaimer {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 10px 2%;
    background-color: rgba(255,255,255,0.1);
}

.col-2 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 46%;
    margin: 0;
    padding: 2%;
}

.col-left {
    align-content: end;
}

.col-right {
    align-content: start;
}

@media (max-width: 725px) {

    .row {
        max-width: none;
    }

    .col-2 {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }

    .footer {
        display: none;
    }

    .content {
        height: 92%;

        .forms-container {
            flex-direction: column;
        }
    }

}

@media (min-width: 725px) and (max-width: 751px) {
    form .input-box.reg-re-password label {
        margin-top: 1px;
    }
}

#login-form,
#guest-form,
#register-form,
#forgot-form {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0;

    &.hidden {
        display: none;
    }
}

.forgot-password-content {
    flex-direction: column;

    .input-box {
        padding: 1rem 2rem 2rem;
        text-align: center;
    }
}

.response-error {
    color: #ff0000;
}

h3.form-title {
    text-align: center;
    background: #f2f2f2;
    padding: 10px 0;
}

#reldens div:first-child {
    z-index: 200;
}

form {
    &.hidden {
        display: none;
    }

    .input-box {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;

        &.hidden {
            display: none;
        }

        &.submit-container, &.terms-and-conditions-link-container {
            justify-content: end;

            &.guest-submit {
                justify-content: center;
            }
        }

        label {
            display: block;
            position: relative;
            font-size: 12px;
            margin-top: 10px;
            width: 40%;
            text-align: right;
        }

        input {
            display: block;
            position: relative;
            border: 1px solid $cLightGrey;
            padding: 8px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 50%;
            max-width: 268px;
        }

    }

}

.player {
    width: 100px;
    height: 100px;
    position: absolute;
    padding-top: 24px;
    box-sizing: border-box;
    left: 0;
    top: 0;
}

.ui-box {
    position: relative;
    z-index: 1001;
    display: block;
    margin: 0;
    padding: 0;
}

.box-target {
    display: none;
    position: relative;
    top: 170px;
    left: 10px;

    #target-container {
        width: 100%;
    }

}

.ui-box-scene-data,
.box-target {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.scene-label,
.box-target {
    color: #fff;
}

.ui-box-scene-data {
    top: 20px;
}

.box-player-stats {
    top: 20px;
    left: -60px;
}

.ui-box.ui-box-controls {
    position: relative;
    bottom: 100px;
    left: 120px;

    img {
        float: left;
        width: 54px;
        opacity: 0.8;
        cursor: pointer;
    }

    img:active {
        opacity: 1;
    }

}

.ui-box-controls {
    .action-buttons, .vertical-buttons {
        float: left;
        width: 54px;
        text-align: center;
        top: 0;
        position: relative;

        img {
            float: none;
        }

    }

    .action-buttons {
        width: auto;

        .skill-icon-container {
            margin-left: 10px;
            float: left;
            position: relative;

            &.cooldown::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: conic-gradient(rgba(0, 0, 0, 0.7) var(--angle), rgba(0, 0, 0, 0.1) var(--angle));
            }

            img {
                width: 54px;
                height: 54px;
                position: relative;
            }
        }
    }

    #left, #right {
        position: relative;
        top: 30px;
    }

}

.button-opacity-off {
    opacity: 1 !important;
}

.ui-box-player {
    float: left;
    width: 100%;
    top: 34px;
    left: 48px;
    max-width: 260px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
    word-break: break-all;
}

.ui-dialog-box {
    display: none;
    float: left;
    width: 240px;
    min-height: 150px;
    padding: 10px 14px;
    background: #000000;
    opacity: 0.85;
    color: $cWhite;
    word-wrap: break-word;
    font-size: 12px;
}

.box-close,
.close-target {
    width: 24px;
    position: absolute;
    right: -12px;
    top: -12px;
    cursor: pointer;
}

.box-open {
    cursor: pointer;
}

.box-content {
    min-height: 40px;
    max-height: 120px;
    overflow: auto;
    margin: 10px 0;
}

.box-options-container {
    display: block;
}

.player-name {
    padding: 0 0 10px;
    text-align: center;
    color: $cWhite;
}

span.stat-label {
    float: left;
    width: 48%;
    margin-right: 2%;
    display: block;
    text-align: right;
    color: #00ffff;
}

span.stat-value {
    float: left;
    width: 50%;
    display: block;
    text-align: left;
}

.loading-container {
    float: left;
    text-align: center;
    width: 100%;
}

#player-stats-open {
    cursor: pointer;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    max-width: 40px;
    top: 20px;
    right: 60px;
}

.ui-box-button-option {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.player-stats-ui {
    min-width: 100px;
    top: 64px;
    right: calc(100% + 72px);
    font-size: 14px;
    display: none;
    float: left;
    position: relative;
    min-height: 100px;
    padding: 10px;
    background: #000000;
    opacity: 0.8;
    color: $cWhite;
}

#player-stats-container {
    position: relative;
    width: 150px;
    word-wrap: break-word;
    overflow: auto;
    font-size: 12px;
}

#forgot_reset {
    margin: 0 auto;
    max-width: 720px;
}

#ui-player-extras {
    color: #fff;
    margin: 10px 0;
}
