/**
 *
 * Reldens - Styles - Base
 *
 */

body {
    font-family: $normalFont;
    margin: 0;
    padding: 0;
    background-color: $cWhite;
    user-select: none;
}

.text-black {
    color: $cBlack;
}

.hidden {
    display: none;
}

.wrapper,
.header,
.footer,
.content {
    float: left;
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 300px;
}

.wrapper,
.game-container {
    height: 100%;
}

.wrapper {
    overflow: hidden;
}

.header,
.footer {
    color: $cWhite;
}

.header {
    position: relative;
    height: 3.5em;
    background-color: #000000;

    #your-logo {
        position: relative;
        float: left;
        display: block;
        margin: 0 0 0 10px;
        padding: 0;
        max-height: 120%;
        z-index: 2000;
    }

    h1 {
        position: relative;
        float: left;
        display: block;
        margin: 0 0 0 20px;
        padding: 0;
        font-family: $reldensFont;
        font-size: 1.5em;

        strong {
            color: $cReldens;
            font-weight: bold;
        }

    }

    @media (max-height: 390px) {

        h1 {
            font-size: 1em;
            padding-top: 0.2em;
        }

    }

    .full-screen-btn,
    .instructions-btn {
        display: none;
        position: absolute;
        bottom: 0;
        background: transparent;
        border: none;
        color: #fff;
        padding: 4px;
        font-size: 11px;
    }

    .full-screen-btn {
        right: 0;
    }

    .instructions-btn {
        left: 0;
    }

}

.footer {
    min-height: 6%;
    background-color: $cDarkBlue;

    .copyright {
        position: relative;
        display: block;
        width: 100%;
        min-height: 20px;
        margin: 0;
        padding: 0;
        text-align: center;
        max-height: 100%;

        a, a:hover, a:visited {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 1% 0;
        }

    }

}

.content {
    height: 86%;
    min-height: 300px;
    background-color: $cBlack;

    .forms-container {
        float: left;
        background-color: $cWhite;
        background-image: url(../assets/web/reldens-background.png);
        background-position: center;
        background-repeat: no-repeat;
    }

}

button,
input[type="button"],
input[type="submit"] {
    cursor: pointer;
}

.game-container {
    background-color: $cBlack;
}

.row {
    float: left;
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    background-color: rgba(255,255,255,0.8);
}

.disclaimer {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 10px 2%;
    background-color: $cWhite;
}

.col-2 {
    float: left;
    display: block;
    position: relative;
    width: 46%;
    margin: 0;
    padding: 2%;
}

@media (max-width: 725px) {

    .col-2 {
        width: 100%;
        padding: 0;
    }

    .footer {
        display: none;
    }

    .content {
        height: 92%;
    }

}

#login_form,
#register_form,
#forgot_form {
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.response-error {
    color: #ff0000;
}

h3.form-title {
    text-align: center;
    background: #f2f2f2;
    padding: 10px 0;
}

#reldens div:first-child {
    z-index: 200;
}

form {

    .input-box {
        display: block;
        position: relative;
        width: 100%;
        float: left;
        margin-bottom: 10px;

        &.hidden {
            display: none;
        }

        label {
            float: left;
            display: block;
            position: relative;
            font-size: 12px;
            margin-top: 10px;
            width: 42%;
            text-align: right;
        }

        input {
            float: right;
            display: block;
            position: relative;
            border: 1px solid $cLightGrey;
            padding: 8px;
        }

        input[type="text"],
        input[type="password"] {
            width: 50%;
            max-width: 268px;
        }

    }

}

#instructions-open {
    cursor: pointer;
    position: absolute;
    top: -120px;
    left: -60px;
    max-width: 48px;
    max-height: 48px;
}

#instructions {
    z-index: 2000;
    position: absolute;
    top: 20%;
    overflow: visible;
    max-height: 280px;
    width: 46%;
    padding: 2% 4%;
    margin: 0;
    left: 25%;
    right: auto;
    background-color: rgba(0,0,0,0.7);
    color: $cWhite;
    cursor: default;

    .instructions-content {
        display: block;
        float: left;
        width: 100%;
        height: 280px;
        overflow-x: hidden;
        overflow-y: auto;

        h3 {
            text-align: center;
        }

        ul {
            padding: 0 0 0 6%;
        }

    }

}

#game-over {
    z-index: 2000;
    position: absolute;
    left: 0;
    overflow: visible;
    width: 92%;
    height: 90%;
    padding: 10% 4% 0;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
    color: $cWhite;
    cursor: default;

    .game-over-content {
        display: block;
        float: left;
        width: 100%;
        height: 280px;
        overflow-x: hidden;
        overflow-y: auto;

        h3 {
            text-align: center;
        }

    }

}

#player-selection {
    background: $cWhite;
    max-width: 500px;
    margin: 40px auto 0;

    .selection-forms-container {
        margin: 0 auto;
        display: block;
        width: 88%;
        background: $cWhite;
        float: left;
        padding: 6%;

        form {
            float: left;
            width: 100%;
            display: block;

            &.hidden {
                display: none;
            }

            #select-element {
                display: block;
                position: relative;
                float: none;
                max-width: 400px;
                margin: 0 auto;
                border: 1px solid $cLightGrey;
                padding: 8px;
                text-align: center;
            }

            .player_creation_additional_info {
                display: block;
                float: left;
                width: 100%;
            }

            .center-submit {
                float: none;
                margin: 0 auto;
            }

        }

    }

}

.player {
    width: 100px;
    height: 100px;
    position: absolute;
    padding-top: 24px;
    box-sizing: border-box;
    left: 0;
    top: 0;
}

.ui-box {
    position: relative;
    z-index: 1001;
    display: block;
    margin: 0;
    padding: 0;
}

.box-target {
    display: none;
    position: relative;
    top: 150px;
    left: 10px;

    #target-container {
        width: 100%;
    }

}

.ui-box-scene-data,
.box-target {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.scene-label,
.box-target {
    color: #fff;
}

.ui-box-scene-data {
    top: 20px;
}

.box-player-stats {
    top: 20px;
    left: -60px;
}

.ui-box.ui-box-controls {
    position: relative;
    bottom: 100px;
    left: 120px;

    img {
        float: left;
        width: 54px;
        opacity: 0.8;
        cursor: pointer;
    }

    img:active {
        opacity: 1;
    }

}

.ui-box-controls {

    .action-buttons, .vertical-buttons {
        float: left;
        width: 54px;
        text-align: center;
        top: 0;
        position: relative;

        img {
            float: none;
        }

    }

    .action-buttons {
        width: auto;

        img {
            margin-left: 10px;
        }

    }

    #left, #right {
        position: relative;
        top: 30px;
    }

}

.button-opacity-off {
    opacity: 1 !important;
}

.ui-box-player {
    float: left;
    top: 34px;
    left: 48px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.ui-box-npc-dialog {
    display: none;
    float: left;
    width: 240px;
    min-height: 150px;
    padding: 10px 14px;
    background: #000000;
    opacity: 0.85;
    color: $cWhite;
    word-wrap: break-word;
    font-size: 12px;
}

.box-close,
.close-target {
    width: 24px;
    position: absolute;
    right: -12px;
    top: -12px;
    cursor: pointer;
}

.box-content {
    min-height: 40px;
    max-height: 120px;
    overflow: auto;
    margin: 10px 0;
}

.box-options-container {
    display: block;
}

.player-name {
    padding: 0 0 10px;
    text-align: center;
    color: $cWhite;
}

span.stat-label {
    float: left;
    width: 48%;
    margin-right: 2%;
    display: block;
    text-align: right;
    color: #00ffff;
}

span.stat-value {
    float: left;
    width: 50%;
    display: block;
    text-align: left;
}

.loading-container {
    float: left;
    text-align: center;
    width: 100%;
}

#player-stats-open {
    cursor: pointer;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    max-width: 40px;
    top: 20px;
    right: 60px;
}

.ui-box-button-option {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.player-stats-ui {
    min-width: 100px;
    top: 64px;
    right: calc(100% + 72px);
    font-size: 14px;
    display: none;
    float: left;
    position: relative;
    min-height: 100px;
    padding: 10px;
    background: #000000;
    opacity: 0.8;
    color: $cWhite;
}

#player-stats-container {
    position: relative;
    width: 150px;
    word-wrap: break-word;
    overflow: auto;
    font-size: 12px;
}

#forgot_reset {
    margin: 0 auto;
    max-width: 720px;
}

#ui-player-extras {
    color: #fff;
    margin: 10px 0;
}
