/**
 *
 * Reldens - Styles - Chat
 *
 */

.chat-ui {
    float: left;
    position: relative;
    top: -270px;
    left: -426px;
    padding: 15px;
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    background: #000000;
    opacity: 0.8;
    color: $cWhite;
    /* help for chrome issue with scale on phaser dom elements
    will-change: transform;
    transform: scale(1.011);
    */
}

#chat-contents {
    display: block;
    font-size: 12px;
    height: 100%;
    width: 100%;

    .tabs-container {
        display: block;
        position: relative;
        height: 100%;
    }

    .tabs-headers {
        height: 20%;
        position: relative;
        display: block;
        width: 100%;
        min-height: 26px;

        .tab-label {
            display: inline-block;
            padding-right: 6px;
            border-right: 1px solid #fff;
            cursor: pointer;

            &.active {
                font-weight: bold;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    .tabs-contents {
        height: 60%;
        display: block;
        overflow-y: auto;
        max-height: 150px;

        .tab-content {
            display: none;
            overflow-y: auto;

            &.active {
                display: block;
            }
        }
    }
}

#chat-messages {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    height: 72%;
    padding: 2%;
    word-wrap: break-word;
    overflow: auto;
    font-size: 12px;
    user-select: auto;
}

#chat-input {
    position: absolute;
    bottom: 15px;
    width: 70%;
    outline: none;
    user-select: auto;
}

#chat-send {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 16%;
}

#chat-open {
    cursor: pointer;
    position: absolute;
    top: -60px;
    left: -60px;
}

#notification-balloon {
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 5px;
    line-height: 15px;
    height: 15px;
    width: 15px;
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
}
