/**
 *
 * Reldens - Styles - Firebase
 *
 */

#firebaseui-auth-container {
    display: block;
    max-width: 400px;
    margin: 10px auto;
    padding: 6px 0;
    background: #f2f2f2;
}

.firebase-container {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#firebase_login {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}
