/**
 *
 * Reldens - Styles - Instructions
 *
 */

@use "variables" as *;

#instructions-open {
    position: absolute;
    top: -132px;
    left: -66px;
}

#instructions {
    z-index: 2000;
    overflow: visible;
    padding: 0;
    margin: 0;
    right: auto;
    color: $cWhite;
    cursor: default;
    width: 100%;
    max-width: min(90vw, 500px);
    height: 100%;
    max-height: min(80vh, 500px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .instructions-content {
        display: block;
        float: left;
        width: 100%;
        height: 280px;
        box-sizing: border-box;
        padding: 1rem;
        overflow-x: hidden;
        overflow-y: auto;

        h3 {
            text-align: center;
        }

        ul {
            padding: 0 0 0 6%;
        }

    }

}
