/**
 *
 * Reldens - Styles - Instructions
 *
 */

@use "variables" as *;

#instructions-open {
    position: absolute;
    top: -132px;
    left: -66px;
}

#instructions {
    z-index: 2000;
    position: absolute;
    top: 20%;
    overflow: visible;
    max-height: 280px;
    width: 46%;
    padding: 2% 4%;
    margin: 0;
    left: 25%;
    right: auto;
    background-color: rgba(0,0,0,0.7);
    color: $cWhite;
    cursor: default;

    .instructions-content {
        display: block;
        float: left;
        width: 100%;
        height: 280px;
        overflow-x: hidden;
        overflow-y: auto;

        h3 {
            text-align: center;
        }

        ul {
            padding: 0 0 0 6%;
        }

    }

}
