/**
 *
 * Reldens - Styles - Joystick
 *
 */

#joystick {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $cGrey;
    position: relative;
    margin: 0;
    opacity: 0.8;
}

#joystick-thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $cWhite;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
}
