/*
 * Reldens - Administration Panel
 */

.reldens-admin-panel {

    .content {
        display: flex;
    }

    .side-bar {
        padding: 1rem;
    }

    .main-content {
        padding: 1rem;
    }

}
