/**
 *
 * Reldens - Styles - Rewards
 *
 */


.rewards-dialog-box {
    min-width: 160px;
    top: 260px;
    right: 360px;
}

@media (max-height: 400px) {

    .rewards-dialog-box {
        top: 50px;
    }

}

.rewards-open {
    position: relative;
    top: 440px;
    right: 60px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    max-width: 40px;
}

.rewards-content {
    flex-direction: column;

    h3 {
        text-align: center;
    }

    .rewards-table {
        padding: 1rem 2rem 2rem;
    }

    .rewards-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }
}
