/**
 *
 * Reldens - Styles - Settings
 *
 */

@use "variables" as *;

#settings-open {
    position: absolute;
    top: -198px;
    left: -66px;
}

#settings-ui {
    z-index: 2000;
    overflow: visible;
    padding: 0;
    margin: 0;
    right: auto;
    color: $cWhite;
    cursor: default;
    width: 100%;
    max-width: min(90vw, 500px);
    height: 100%;
    max-height: min(80vh, 500px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .settings-content {
        display: block;
        float: left;
        width: 100%;
        height: 280px;
        box-sizing: border-box;
        padding: 1rem;
        overflow-x: hidden;
        overflow-y: auto;

        .settings-container {
            display: block;
            float: left;
            width: 100%;
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }

        .settings-row {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;

            .col-1 {
                text-align: right;
            }

            .col-1,
            .col-2 {
                position: relative;
                float: left;
                display: block;
                width: 48%;
                margin: 0 2% 0 0;
                padding: 0;
            }

            h3 {
                text-align: center;
            }

        }

    }

    #settings-dynamic .settings-row:first-child h3:first-child {
        margin-top: 0;
    }

}
