/**
 *
 * Reldens - Styles - Settings
 *
 */

@use "variables" as *;

#settings-open {
    position: absolute;
    top: -198px;
    left: -66px;
}

#settings-ui {
    z-index: 2000;
    position: absolute;
    top: 20%;
    overflow: visible;
    max-height: 280px;
    width: 46%;
    padding: 2% 4%;
    margin: 0;
    left: 25%;
    right: auto;
    color: $cWhite;
    cursor: default;

    .settings-content {
        display: block;
        float: left;
        width: 100%;
        height: 280px;
        overflow-x: hidden;
        overflow-y: auto;

        .settings-container {
            display: block;
            float: left;
            width: 100%;
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }

        .settings-row {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;

            .col-1 {
                text-align: right;
            }

            .col-1,
            .col-2 {
                position: relative;
                float: left;
                display: block;
                width: 48%;
                margin: 0 2% 0 0;
                padding: 0;
            }

            h3 {
                text-align: center;
            }

        }

    }

    #settings-dynamic .settings-row:first-child h3:first-child {
        margin-top: 0;
    }

}
