/**
 *
 * Reldens - Styles
 *
 */

$normalFont: Verdana, Geneva, sans-serif;
$reldensFont: "Play", sans-serif;
$cReldens: #2f7dde;
$cDarkBlue: #37517e;
$cWhite: #ffffff;
$cBlack: #000000;

body {
    font-family:$normalFont;
    margin:0;
    padding:0;
    background-color: $cWhite;
}

.text-black {
    color: $cBlack;
}

.wrapper,
.header,
.footer,
.content {
    float:left;
    position:relative;
    display:block;
    width:100%;
    margin:0;
    padding:0;
    min-width:300px;
}

.wrapper,
.game-container {
    height: 100%;
}

.wrapper {
    overflow: hidden;
}

.header,
.footer {
    color:#ffffff;
}

.header {
    position: relative;
    min-height:8%;
    background-color:#000000;

    h1 {
        float:left;
        position:relative;
        display:block;
        width:100%;
        margin:0;
        padding:1% 0;
        text-align:center;
        font-family:$reldensFont;
        font-size:2em;

        strong {
            color:$cReldens;
            font-weight:bold;
        }

    }

    .full-screen-btn {
        display:none;
        position:absolute;
        bottom:0;
        right:0;
        background:transparent;
        border:none;
        color:#fff;
        padding:4px;
        font-size:11px;
    }

}

.footer {
    min-height:6%;
    background-color: $cDarkBlue;

    .copyright {
        position:relative;
        display:block;
        width:100%;
        min-height:20px;
        margin:0;
        padding:0;
        text-align:center;
        max-height:100%;

        a, a:hover, a:visited {
            display:block;
            color:#fff;
            text-decoration:none;
            padding:1% 0;
        }

    }


}

.content {
    height:86%;
    min-height:300px;
    background-color: $cWhite;
}

button, input[type="button"], input[type="submit"] { cursor:pointer; }

.game-container { background-color:#000; }

.row { float:left; display:block; position:relative; width:100%; margin:0; padding:0; }

.col-2 { float:left; display:block; position:relative; width:46%; margin:0; padding:2%; }

@media (max-width:725px) {
    .col-2 { width:100%; padding:0; }
    .header h1 { font-size: 1.6em; }
    .footer { display: none; }
    .content { height: 92%; }
}

#login_form,
#register_form,
#forgot_form {
    max-width:400px;
    display:block;
    margin:0 auto;
}

.response-error { color:#ff0000; }

h3.form-title { text-align:center; background:#f2f2f2; padding:10px 0; }

#reldens div:first-child { z-index:200; }

form {

    .input-box {
        display:block;
        position:relative;
        width:100%;
        float:left;
        margin-bottom:10px;

        label {
            float:left;
            display:block;
            position:relative;
            font-size:12px;
            margin-top:4px;
            width:42%;
            text-align:right;
        }

        input {
            float:right;
            display:block;
            position:relative;
        }

        input[type="text"],
        input[type="password"] {
            width:50%;
        }

    }

}

/**
 * @TODO: finish refactor.
 */

.player { width:100px; height:100px; position:absolute; padding-top:24px; box-sizing:border-box; left:0; top:0; }
.ui-box { position:relative; z-index:1001; display:block; margin:0; padding:0; }
.box-target { display:none; position:relative; top:120px; left:10px; }
.box-target #target-container { width:100%; }
.ui-box-scene-data, .box-target { background-color:rgba(0, 0, 0, 0.5); padding:10px; }
.scene-label, .box-target { color:#fff; }
.ui-box-scene-data { top:20px; }
.box-player-stats { top:20px; left:-60px; }
.ui-box.ui-box-controls { position:relative; bottom:100px; left:120px; }
.ui-box.ui-box-controls img { float:left; width:54px; opacity:0.8; cursor:pointer; }
.ui-box.ui-box-controls img:active { opacity:1 !important; }
.ui-box-controls .vertical-buttons { float:left; width:54px; text-align:center; top:0; position:relative; }
.ui-box-controls #left, .ui-box-controls #right { position:relative; top:30px; }
.ui-box-controls .vertical-buttons img { float:none; }
.ui-box-controls .vertical-buttons.action-buttons { margin-left:10px; }
.ui-box-player { text-align:center; padding:10px; background-color:rgba(0, 0, 0, 0.5); top:34px; left:48px; }
.ui-box-npc-dialog { display:none; float:left; width:240px; min-height:150px; padding:10px 14px; background:#000000; opacity:0.85; color:#ffffff; word-wrap:break-word; font-size:12px; }
.box-close, .close-target { width:24px; position:absolute; right:-12px; top:-8px; cursor:pointer; }
.box-content { min-height:40px; max-height:120px; overflow:auto; margin:10px 0; }
.box-options-container { display:block; }
.player-name { padding:0 0 10px; text-align:center; color:#ffffff; }
.chat-ui { display:none; float:left; position:relative; top:-150px; left:-290px; padding:15px; min-width:100px; min-height:80px; background:#000000; opacity:0.8; color:#ffffff; }
#chat-messages { width:242px; height:90px; word-wrap:break-word; overflow:auto; font-size:12px; }
#chat-input { width:80%; }
#chat-send { position:absolute; bottom:15px; right:15px; }
span.stat-label { float:left; width:48%; margin-right:2%; display:block; text-align:right; color:#00ffff; }
span.stat-value { float:left; width:50%; display:block; text-align:left; }
.loading-container { float:left; text-align:center; width:100%; }
#player-stats-open, #chat-open, #inventory-open, #equipment-open { cursor:pointer; position:relative; }
#chat-open { position:absolute; top:-60px; left:-60px; }
#player-stats-open, #inventory-open, #equipment-open { background:rgba(0, 0, 0, 0.5); padding:10px; max-width:40px; }
#player-stats-open { top:20px; right:60px; }
#inventory-open { top:90px; right:60px; }
#equipment-open { top:160px; right:60px; }
.ui-box-button-option { display:inline-block; margin:10px; cursor:pointer; }
.player-stats-ui, .inventory-ui, .equipment-ui { display:none; float:left; position:relative; min-height:100px; padding:10px; background:#000000; opacity:0.8; color:#ffffff; }
.inventory-ui { min-width:160px; top:80px; right:360px; }
.equipment-ui { min-width:160px; top:100px; right:360px; }
@media (max-height:400px) {
    .equipment-ui { top:80px; }
}
.player-stats-ui { min-width:100px; top:64px; right:200px; font-size:14px; }
#player-stats-container, #inventory-items, #equipment-items { position:relative; word-wrap:break-word; overflow:auto; font-size:12px; }
#player-stats-container { width:100px; height:110px; }
#forgot_reset { margin: 0 auto; max-width: 720px; }

/*
 * @TODO: move these as part of the inventory module and generate css importing each feature/module css file.
 */

#inventory-items { width:268px; height:200px; }
#equipment-items { width:268px; height:225px; }
.item-box, .group-item-block { float:left; display:block; width:50px; height:50px; margin-bottom:6px; }
.item-box .item-data-container { display:none; position:absolute; top:54px; left:16%; z-index:2; width:64%; text-align:center; background:#000; padding:4px; color:#fff; border:1px solid #fff; font-style:italic; }
.item-box:nth-child(4n) .item-data-container, .item-box:nth-child(5n) .item-data-container { right:50px; left:auto; }
.item-label, .item-description { display:block; }
.item-box .item-qty, .item-box .image-container { display:block; float:left; width:100%; text-align:center; cursor:pointer; }
.item-box .actions-container { display:block; width:100%; position:relative; }
.item-box .actions-container .item-action-block { position:relative; float:left; max-width:32px; margin:5px 5px 0; }
.item-box .actions-container .item-action-block img { max-width:32px; cursor:pointer; }
.item-box .trash-confirm { display:none; min-width:96px; }
.item-box .trash-confirm span { cursor:pointer; padding:5px; border:1px solid; margin:5px; display:inline-block; }
.group-item-block { position:relative; }
.group-item-block .equip-group-icon { position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:1; opacity:0.2; border:1px solid #ffffff; }
.group-item-block .equipped-item { position:relative; top:0px; left:0px; z-index:2; }
.group-item-block .image-container img { min-width:50px; }
.group-item-block .item-qty, .group-item-block .item-data-container .item-description, .group-item-block .item-data-container .item-trash { display:none; }
.group-item-block .item-data-container { min-width:50px; }
.group-item-block .item-data-container .actions-container .item-action-block { float:none; margin:5px auto; }
#group-item-helmet, #group-item-boots { display:block; width:100%; }
#group-item-helmet .equip-group-icon, #group-item-boots .equip-group-icon { max-width:50px; left:40%; }
#group-item-helmet .equipped-item, #group-item-boots .equipped-item { display:block; margin:0 auto; max-width:50px; min-height:50px; }
#group-item-weapon, #group-item-shield, #group-item-armor, #group-item-gauntlets { display:block; width:50%; }
#group-item-weapon .equip-group-icon, #group-item-armor .equip-group-icon { max-width:50px; right:20px; left:auto; }
#group-item-shield .equip-group-icon, #group-item-gauntlets .equip-group-icon { max-width:50px; right:auto; left:20px; }
#group-item-weapon .equipped-item, #group-item-armor .equipped-item { position:absolute; right:20px; left:auto; }
#group-item-shield .equipped-item, #group-item-gauntlets .equipped-item { position:absolute; right:auto; left:20px; }
