/**
 * DwD - Reldens Interface - Styles
 */
body { font-family:Verdana, Geneva, sans-serif; margin:0; padding:0; }
.wrapper,
.header,
.footer,
.content
{ float:left; position:relative; display:block; width:100%; margin:0; padding:0; min-width:300px; }
.wrapper, .game-container { height:100%; }
.header,
.footer
{ background-color:#222222; color:#ffffff; }
.header { height:10%; min-height:46px; }
.footer { height:6%; min-height:20px; }
.content { height:84%; }
button, input[type="button"], input[type="submit"], #player-stats-btn { cursor:pointer; }
.game-container { background-color:#000; }
.header h1 { float:left; position:relative; display:block; width:96%; margin:1% 2%; padding:0; text-align:center; }
.col-2 { float:left; display:block; position:relative; width:46%; margin:0; padding:0 2%; }
.footer-content { position:relative; display:block; width:100%; max-width:1000px; margin:20px auto 0; padding:0; }
.copyright { position:relative; display:block; width:100%; min-height:20px; margin:0; padding:0; text-align:center; }
.copyright a, .copyright a:hover, .copyright a:visited { display:block; margin:1% 0 0; color:#fff; text-decoration:none; }
#login_form,
#register_form
{ max-width:400px; display:block; margin:0 auto; }
.response-error { color:#ff0000; }
h3.form-title { text-align:center; background:#f2f2f2; padding:10px 0px; }
#reldens div:first-child { z-index:200; }
form .input-box { margin-bottom:10px; display:block; position:relative; width:100%; float:left; }
form .input-box label { float:left; display:block; position:relative; font-size:12px; margin-top:8px; width:42%; text-align:right; }
form .input-box input { float:right; display:block; position:relative; }
form .input-box input[type="text"], form .input-box input[type="password"] { width:50%; }
.player { width:100px; height:100px; position:absolute; padding-top:24px; box-sizing:border-box; left:0; top:0; }
.ui-box { z-index:1001; display:block; margin:0; padding:0; }
.box-target { display:none; }
.ui-box-scene-data, .box-target { background-color:rgba(0, 0, 0, 0.5); padding:10px; }
.scene-label, .box-target { color:#fff; }
.ui-box.ui-box-controls img { float:left; width:54px; opacity:0.8; cursor:pointer; }
.ui-box.ui-box-controls img:active { opacity:1 !important; }
.ui-box-controls .vertical-buttons { float:left; width:54px; text-align:center; top:0; position:relative; }
.ui-box-controls #left, .ui-box-controls #right { position:relative; top:30px; }
.ui-box-controls .vertical-buttons img { float:none; }
.ui-box-controls .vertical-buttons.action-buttons { margin-left:10px; }
.ui-box-player { text-align:center; padding:0px 10px; }
.ui-box-player, .box-player-stats { background-color: rgba(0, 0, 0, 0.5); }
.ui-box-npc-dialog { display:none; float:left; width:240px; height:100px; padding:10px 14px; background:#000000; opacity:0.85; color:#ffffff; word-wrap:break-word; overflow:hidden; font-size:12px; }
.box-close, .close-target { width:24px; position:absolute; right:-12px; top:-8px; }
.box-content { min-height:40px; max-height:70px; overflow:auto; margin:10px 0px; }
.player-name { padding:10px 0; text-align:center; color:#ffffff; }
.chat-ui { display:none; float:left; position: relative; top:-60px; left:-196px; min-width:100px; min-height:80px; background:#000000; opacity:0.8; color:#ffffff; }
#chat-messages { width:242px; height:90px; word-wrap:break-word; overflow:auto; font-size:12px; }
#chat-input { width:80%; }
#chat-send { position:absolute; bottom:0px; right:0; }
.box-player-stats { display:block; float:left; position:absolute; padding:10px; }
.player-stats-btn-container { float:right; }
#player-stats-btn { float:right; }
#player-stats-container { display:block; float:right; width:120px; margin-top:10px; color:#ffffff; }
span.stat-label { float:left; width:48%; margin-right:2%; display:block; text-align:right; color:#00ffff; }
span.stat-value { float:left; width:50%; display:block; text-align:left; }
.loading-container { float:left; text-align:center; width:100%; }
#chat-open { cursor:pointer; }
.ui-box-button-option { display:inline-block; margin:10px; }
