/**
 *
 * Reldens - Styles - Teams
 *
 */


.teams-dialog-box {
    min-width: 160px;
    top: 200px;
    right: 360px;
}

@media (max-height: 400px) {

    .teams-dialog-box {
        top: 50px;
    }

}

.teams-open {
    position: relative;
    top: 230px;
    right: 60px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    max-width: 40px;
}

.team-player,
.property-box,
.properties-list-container {
    width: 100%;
    float: left;
    display: block;
    position: relative;
    padding: 0;
    margin: 0 0 5px;
}

.player-name {
    float: left;
    display: block;
    width: 90%;
    text-align: left;
    cursor: pointer;
}

.properties-list-container {
    cursor: pointer;
}

.team-remove-container {
    float: left;
    display: block;
    width: 10%;

    #team-remove {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 24px;
        cursor: pointer;
    }

}

.property-box {
    float: left;
    padding: 0;
    margin: 0;

    div {
        float: left;
    }

    .label {
        margin-right: 10px;
    }

    .value {
        margin-right: 6px;
    }

}

.team-disband-action {
    float: right;
}
