/**
 *
 * Reldens - Styles - Terms and Conditions
 *
 */

#terms-and-conditions {
    z-index: 2000;
    position: absolute;
    top: 20%;
    overflow: visible;
    width: 46%;
    margin: 0;
    left: 25%;
    right: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: $cWhite;
    cursor: default;

    .scrollable {
        max-height: 280px;
        padding: 2% 4%;
    }

    .terms-and-conditions-text {
        display: block;
        float: left;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 15px;

        h3 {
            text-align: center;
        }

        .terms-body {
            overflow-y: auto;
            width: 92%;
            padding: 2% 4%;
        }
    }
}

.terms-and-conditions-link-container.hidden {
    display: none;
}

.terms-and-conditions-link {
    text-align: right;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
}

.terms-box {
    display: block;
    padding: 2%;
    margin: 2%;
}
