/**
 *
 * Reldens - Styles - Terms and Conditions
 *
 */

#terms-conditions {
  z-index: 2000;
  position: absolute;
  top: 20%;
  overflow: visible;
  width: 46%;
  margin: 0;
  left: 25%;
  right: auto;
  background-color: rgba(0,0,0,0.7);
  color: $cWhite;
  cursor: default;

  .scrollable {
    overflow-y: scroll;
    max-height: 280px;
    padding: 2% 4%;
  }

  .terms-conditions-text {
    display: block;
    float: left;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 15px;

    h3 {
      text-align: center;
    }
  }
}

.tacbox {
  display: block;
  padding: 1%;
  margin: 2%;
}
