/**
 *
 * Reldens - Styles - Variables
 *
 */

$normalFont: Verdana, Geneva, sans-serif;
$reldensFont: "Play", sans-serif;
$cReldens: #2f7dde;
$cDarkBlue: #37517e;
$cGreyBlue: #283b5b;
$cGreyBlue50: rgba(25, 60, 92, 0.5);
$cGreyBlue60: rgba(18, 45, 71, 0.8);
$cDarkBlue280: rgba(6, 25, 44, 0.8);
$cWhite: #ffffff;
$cLightGrey: #cccccc;
$cGrey: #333333;
$cBlack: #000000;
$cBlack80: rgba(0, 0, 0, 0.8);
$cBlack70: rgba(0,0,0,0.7);
$cBlack60: rgba(0, 0, 0, 0.6);

$containerMaxWidth: 1200px;
