/**
 *
 * Reldens - Styles - Variables
 *
 */

$normalFont: Verdana, Geneva, sans-serif;
$reldensFont: "Play", sans-serif;
$cReldens: #2f7dde;
$cDarkBlue: #37517e;
$cWhite: #ffffff;
$cLightGrey: #cccccc;
$cGrey: #333333;
$cBlack: #000000;

$containerMaxWidth: 1200px;
