.wrapper,
.header,
.footer,
.game-container
{ float:left; position:relative; display:block; width:100%; margin:0px; padding:0px; }
.header,
.footer
{ background-color:#222222; color:#ffffff; }
.header h1 { float:left; position:relative; display:block; width:96%; margin:20px 2%; padding:0px; text-align:center; }
.content {  position:relative; display:block; width:100%; max-width:1000px; margin:0px auto; padding:0px; }
.col-2 { float:left; display:block; position:relative; width:50%; margin:0px; padding:0px; }
.footer-content { position:relative; display:block; width:100%; max-width:1000px; margin:20px auto 0px; padding:0px; }
.copyright { position:relative; display:block; width:100%; margin:20px 0px; padding:0px; text-align:center; }
.game-container { min-height:200px; }
.response-error { color:#ff0000; }
