{
    "baseUrl": "http://localhost:8080",
    "adminPath": "/reldens-admin",
    "adminUser": "root@yourgame.com",
    "adminPassword": "root",
    "port": 8080,
    "serverPath": "D:\\dap\\work\\reldens\\npm-test",
    "themeName": "custom-game-theme-test",
    "dbHost": "localhost",
    "dbPort": "3306",
    "dbUser": "reldens",
    "dbPassword": "reldens",
    "dbName": "reldens_local",
    "e2eUsername": "root",
    "e2ePassword": "root",
    "e2ePlayerName": "ImRoot",
    "e2eUsername2": "root2",
    "e2ePassword2": "root",
    "e2ePlayerName2": "ImRoot2",
    "e2eUsername3": "root3",
    "e2ePassword3": "root",
    "e2ePlayerName3": "ImRoot3",
    "e2eRegUsername": "testreg",
    "e2eRegEmail": "testreg@yourgame.com",
    "e2eRegPassword": "TestReg123",
    "e2eNewCharacterName": "TestChar",
    "e2eEquipableItemId": "axe",
    "e2eConsumableItemId": "heal_potion_20",
    "e2eEnemyKey": "enemy_forest_1",
    "e2eChestKey": "chest_forest_1",
    "e2eMiningRockKey": "rock_forest_1",
    "e2eMiningRockRewardItemId": "ore",
    "e2eReturnRoom": "reldens-forest",
    "e2eNpcKey": "people_town_1",
    "e2eTraderKey": "merchant_1",
    "e2eSellItemId": "heal_potion_20"
}
