<fieldset class="cms-page-route">
    <legend>Route data</legend>
    <div class="edit-field">
        <span class="field-name">Path</span>
        <span class="field-value">
            <input type="text" name="route-path" value="{{routePath}}" disabled="disabled"/>
        </span>
    </div>
    <div class="edit-field">
        <span class="field-name">Domain</span>
        <span class="field-value">
            <input type="text" name="route-domain" value="{{routeDomain}}" disabled="disabled"/>
        </span>
    </div>
</fieldset>
