<div class="trade-container trade-container-{{tradeActionKey}}">
    <div class="trade-row trade-items-boxes">
        <div class="trade-col trade-col-1">{{&tradeItems}}</div>
        <div class="trade-col trade-col-2"></div>
    </div>
    <div class="trade-row">{{&lastErrorMessage}}</div>
    <div class="trade-row">{{&confirmRequirements}}</div>
    <div class="trade-row trade-confirm-actions">
        <button type="button" class="cancel-action cancel-{{tradeActionKey}}">{{cancelLabel}}</button>
        <button type="button" class="confirm-action confirm-{{tradeActionKey}}">{{tradeActionLabel}}</button>
    </div>
</div>
