const config = {
    app: {
        port: process.env.PORT || process.env.RELDENS_APP_PORT || 8080,
        colyseusMonitor: process.env.RELDENS_COLYSEUS_MONITOR || false
    },
    db: {
        engine: process.env.RELDENS_DB_ENGINE || 'mysql',
        host: process.env.RELDENS_DB_HOST || '127.0.0.1',
        port: process.env.RELDENS_DB_PORT || 3306,
        database: process.env.RELDENS_DB_NAME || 'reldens',
        user: process.env.RELDENS_DB_USER || 'dbuser',
        password: process.env.RELDENS_DB_PASSWORD || 'dbpass',
        connectionLimit: process.env.RELDENS_DB_LIMIT || 10
    }
};

module.exports = config;
