{{#showScoresTitle}}
<h3>{{&scoresTitle}}</h3>
{{/showScoresTitle}}
<div class="scores-table">
    {{#scores}}
    <div class="score-container">
        <span class="score-player-name">{{&playerName}}</span>
        <span class="score-value">{{&score}}</span>
    </div>
    {{/scores}}
    {{#pages}}
    <div class="pager-page">
        <a href="{{&pageLink}}">{{&pageLabel}}</a>
    </div>
    {{/pages}}
    {{#showCurrentPlayer}}
    <div class="current-player-score-data">
        <span class="score-value">{{&currentPlayerScore}}</span>
    </div>
    {{/showCurrentPlayer}}
</div>
