.input-box {
    margin: 0 auto 1rem;

    & input[type='text'],
    & input[type='password'] {
        width: 96%;
    }

    & input[type='submit'] {
        margin: 0 auto;
        display: flex;

        &:hover {
            background-color: var(--color-blue-90);
        }
    }

}
