.side-bar {
    min-width: 18rem;
    padding: 1.4rem;
    background-color: var(--color-grey-80);
    color: var(--color-grey);
    box-shadow: 0.125rem 0 0.3125rem rgba(0, 0, 0, 0.3);
    overflow-y: auto;

    .with-sub-items {
        &.active {
            .side-bar-item {
                display: block;

                &:first-of-type {
                    margin-top: var(--space-lg);
                }

                &.active {
                    & a {
                        border-left: 3px solid var(--color-white);
                    }
                }
            }
        }

        .side-bar-item {
            display: none;

            & a {
                display: block;
                color: var(--color-grey);
                text-decoration: none;
                border-left: 3px solid #0000;
                font-size: 0.75rem;
                padding: 0.1rem 0.1rem 0.1rem var(--space-lg);
                margin-top: 0.3rem;
                margin-bottom: 0;

                &:hover, &:focus, &:active {
                    background-color: var(--color-grey-70);
                    border-left: 3px solid var(--color-blue);
                }
            }
        }
    }

    .side-bar-item {
        margin: 0;

        & a {
            margin-top: 0.3rem;
            margin-bottom: 0;
        }

        & .side-bar-item {
            margin: 0;
        }

        &.level-1 {
            margin-bottom: 0.75rem;
        }

        &.level-2 {
            & a {
                font-size: var(--font-size-sm);
            }
        }

        & .side-bar-item-header, a {
            display: block;
            border: none;
            padding: 0;
            color: var(--color-grey);
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: var(--color-blue);
            }
        }
    }

    & > .side-bar-item > a,
    .side-bar-item .side-bar-item-header {
        font-size: var(--font-size-md);
        font-weight: var(--bold);
        margin-top: 0;
        margin-bottom: 0;
    }

    & > .side-bar-item.level-2 {
        margin-bottom: 0.75rem;

        & a {
            font-size: var(--font-size-md);
            font-weight: var(--bold);
        }
    }

    .user-area {
        margin-top: 1.5rem;
    }
}
