.forms-container {
    width: 96%;
    max-width: 25rem;
    margin: auto;

    .form-title {
        font-size: var(--font-size-xl);
        margin-bottom: 2rem;
        text-align: center;
    }

    .response-error {
        color: var(--color-red);
        font-weight: var(--bold);
        justify-content: center;
        text-align: center;
    }

    .input-box {
        display: flex;
        align-items: center;
        gap: var(--space-lg);
        margin-bottom: var(--space-lg);

        & label {
            min-width: 5rem;
            margin-bottom: 0;
            white-space: nowrap;
        }

        & input[type='text'],
        & input[type='password'] {
            flex: 1;
            width: auto;
        }
    }

    .form-textarea {
        width: 98%;
        margin: 0;
        padding: var(--space-sm);
        resize: vertical;
        min-height: 18.75rem;
        border-radius: 0;

        &:focus {
            border-radius: 0;
        }
    }
}
